*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{

    background-color: #FAB53D;
    background-image: url(/mango.png);
    background-position: fixed;
    background-repeat: no-repeat;
}

#site{
    width: 100svw;
    height: 100svh;
    font-family: 'Balsamiq Sans',cursive; 
}

#content{
   display: grid;
   border: solid 2px black;
   margin: 3%;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 3fr 1fr;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    align-items: center;
}

#logo{
    font-size: 1.25rem;
}

#nav{
    text-transform: uppercase;
    display: flex;
}

#nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

#nav-list a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#button{
    padding: 10px 20px;
    text-transform: uppercase;
    border: solid 2px white;
    border-radius: 2px;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Balsamiq Sans', cursive;
}

#drink-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33%;
    padding-left: 3%;
    align-self: center;
    
}

#drink-content h1{
    font-size: 5rem;
    text-transform: uppercase;
}

#drink-flavor{
    font-size: 3rem;
}

#drink-desc{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
}

