*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: white;
}

#site{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

#content{
   display: grid;
   border: solid 2px black;
   margin: 15% 7% 7% 20%;
   grid-template-columns: 1fr;
   grid-template-rows: 15% 70% 15%;
}

#header{
    display: flex;
    justify-content: space-between;
}

/* #logo */

#nav{
    text-transform: uppercase;
    display: flex;
    justify-self: space-between;
}

#button{
    padding: 10px;
    text-transform: uppercase;
    border: solid 2px white;
    border-radius: 8px;
}